{% extends "staff/layout.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<style>
    td, th {
        text-align: center;
    }
</style>
<div class="container mt-1 mb-5 border border-secondary rounded col-md-8" style="background-color: white;">
    <br>
    <div class="row">
        <div class="col-md-4">
            <img src="{{leave.staff.profile.staff_profile.image.url}}" width='110' height='110'>
        </div>
        <div class="col-md-4">
            <h5 class="fw-bold text-center">YIMF LEAVE ROSTER</h5>
            <h6 class="fw-bold text-center">{{leave.date_applied|date:"F d, Y"}}</h6>
        </div>
        <div class="col-md-4 d-md-flex justify-content-md-end">
            <img src="{% static 'staff/images/fevicon.png' %}" width='105' height='105' class="rounded-circle">
        </div>
    </div>
    <strong><P class="text-center text-muted mt-3 border-bottom mb-4">STAFF INFO</P></strong>
    <div class="row">
        <div class="col-md-4">
            <div> <span>ID</span> <small class="ms-3 fw-bolder">{{leave.staff.profile.staff_profile.staff_id}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span>Fullname</span> <small class="ms-3 fw-bolder"">{{leave.staff.profile.staff_profile.employee_name}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="">Phone</span> <small class="ms-3 fw-bolder">{{leave.staff.profile.staff_profile.mobile_1}}</small> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div> <span class="">Title</span> <small class="ms-3 fw-bolder">{{leave.staff.profile.staff_profile.title}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="">Department</span> <small class="ms-3 fw-bolder">{{leave.staff.profile.staff_profile.department}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="">Classification</span> <small class="ms-3 fw-bolder">{{leave.staff.profile.staff_profile.classification}}</small> </div>
        </div>
    </div>
    <strong><P class="text-center text-muted mt-3 border-bottom mb-4">LEAVE DETAILS</P></strong>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col"><strong>TYPE</strong></th>
                        <th scope="col"><strong>STATUS</strong></th>
                        <th scope="col"><strong>REASON</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{leave.type_of_leave}}</td>
                        <td>{{leave.status}}</td>
                        <td>{{leave.leave_reason|slice:56}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <strong><P class="text-center text-muted mt-3 border-bottom mb-4">LEAVE DATES</P></strong>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col"><strong>NUMBER OF DAYS</strong></th>
                        <th scope="col"><strong>START DATE</strong></th>
                        <th scope="col"><strong>END DATE</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{leave.number_of_days}}</td>
                        <td>{{leave.start_date}}</td>
                        <td>{{leave.end_date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <strong><P class="text-center text-muted mt-3 border-bottom mb-4">LEAVE BALANCE</P></strong>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col"><strong>DAYS TAKEN</strong></th>
                        <th scope="col"><strong>BALANCE</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{leave.staff.profile.staff_profile.total_leave_days_taken}}</td>
                        <td>{{leave.staff.profile.staff_profile.total_leave_balance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <strong><P class="text-center text-muted mt-3 border-bottom mb-4">APPROVAL</P></strong>
    <div class="row">
        <div class="col-md-3 text-center">
            <div> <span class="fw-bolder"><u>Applicant</u></span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span class="fw-bolder"><u>Supervisor</u></span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span class="fw-bolder"><u>HOD</u></span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span class="fw-bolder"><u>HR</u></span></div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3 text-center">
            <div> <span>.......................................</span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span>.......................................</span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span>.......................................</span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span>.......................................</span></div>
        </div>
    </div>
    <br>
    {% if not leave.approved %}
        {% if leave.status == "Applicant" and user == leave.staff %}
            <div class="row container">
                <div class="col-md-12">
                <form method="post" class="d-flex" role="search">
                    {% csrf_token %}
                    <div class="form-row">
                        <input type="hidden" name="leave_id" value="{{leave.id}}">
                        <div class="mb-3 form-group col-md-6">
                            <textarea name="email_message" placeholder="Message" class="form-control" id="exampleFormControlTextarea1" rows="2" required></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <select name="status" class="form-select" aria-label="Default select example" required>
                                <option selected disabled>Change Status</option>
                                <option value="Immediate Supervisor">Immediate Supervisor</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-success text-align-center" type="submit">Proceed</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        {% endif %}
        {% if leave.status == "Immediate Supervisor" and user == leave.staff.profile.immediate_supervisor %}
            <div class="row container">
                <div class="col-md-12">
                <form method="post" class="d-flex" role="search">
                    {% csrf_token %}
                    <div class="form-row">
                        <input type="hidden" name="leave_id" value="{{leave.id}}">
                        <div class="mb-3 form-group col-md-6">
                            <textarea name="email_message" placeholder="Message" class="form-control" id="exampleFormControlTextarea1" rows="2" required></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <select name="status" class="form-select" aria-label="Default select example" required>
                                <option selected disabled>Change Status</option>
                                <option value="Applicant">Applicant</option>
                                <option value="Head Of Department">Head Of Department</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-success text-align-center" type="submit">Proceed</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        {% endif %}
        {% if pv.status == "Audit Level" and user.profile.title == "Auditor" %}
            <div class="row container">
                <div class="col-md-12">
                <form method="post" class="d-flex" role="search">
                    {% csrf_token %}
                    <div class="form-row">
                        <input type="hidden" name="pv_id" value="{{pv.id}}">
                        <div class="mb-3 form-group col-md-6">
                            <textarea name="email_message" placeholder="Note to the subordinate incase the transaction isn't endorsed (optional)" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <select name="status" class="form-select" aria-label="Default select example" required>
                                <option selected disabled>Change Status</option>
                                <option value="Accounts Desk">Accounts Desk</option>
                                <option value="Management Level">Management Level</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                        <button class="btn btn-success text-align-center" type="submit">Proceed</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        {% endif %}
        {% if pv.status == "Management Level" and user.profile.title == "Manager"%}
            <div class="row container">
                <div class="col-md-12">
                <form method="post" class="d-flex" role="search">
                    {% csrf_token %}
                    <div class="form-row">
                        <input type="hidden" name="pv_id" value="{{pv.id}}">
                        <div class="mb-3 form-group col-md-6">
                            <textarea name="email_message" placeholder="Note to the subordinate incase the transaction isn't endorsed (optional)" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <select name="status" class="form-select" aria-label="Default select example" required>
                                <option selected disabled>Change Status</option>
                                <option value="Audit Level">Audit Level</option>
                                <option value="Final Review">Final Review</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                        <button class="btn btn-success text-align-center" type="submit">Proceed</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        {% endif %}
        {% if pv.status == "Final Review" or pv.status == "On Hold" and user.is_staff %}
            <div class="row container">
                <div class="col-md-12">
                <form method="post" class="d-flex" role="search">
                    {% csrf_token %}
                    <div class="form-row">
                        <input type="hidden" name="pv_id" value="{{pv.id}}">
                        <div class="mb-3 form-group col-md-6">
                            <textarea name="email_message" placeholder="Note to the subordinate incase the transaction isn't endorsed (optional)" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <select name="status" class="form-select" aria-label="Default select example" required>
                                <option selected disabled>Change Status</option>
                                <option value="Management Level">Management Level</option>
                                <option value="Approved">Approved</option>
                                <option value="On Hold">On Hold</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                        <button class="btn btn-success text-align-center" type="submit">Proceed</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}