{% extends "staff/layout.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<style>
    td, th {
        text-align: center;
    }
</style>
<div class="container mt-1 mb-5 border border-secondary rounded col-md-8" style="background-color: white;">
    <br>
    <div class="row">
        <div class="col-md-4">
            <img src="{{leave.staff.image.url}}" width='110' height='110'>
        </div>
        <div class="col-md-4">
            <h5 class="fw-bold text-center">YIMF LEAVE ROSTER</h5>
            <h6 class="fw-bold text-center">{{leave.date_applied|date:"F d, Y"}}</h6>
        </div>
        <div class="col-md-4 d-md-flex justify-content-md-end">
            <img src="{% static 'staff/images/fevicon.png' %}" width='105' height='105' class="rounded-circle">
        </div>
    </div>
    <strong><P class="text-center text-muted mt-3 border-bottom mb-4">STAFF INFO</P></strong>
    <div class="row">
        <div class="col-md-4">
            <div> <span>ID</span> <small class="ms-3 fw-bolder">{{leave.staff.staff_id}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span>Fullname</span> <small class="ms-3 fw-bolder"">{{leave.staff.employee_name}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="">Phone</span> <small class="ms-3 fw-bolder">{{leave.staff.mobile_1}}</small> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div> <span class="">Title</span> <small class="ms-3 fw-bolder">{{leave.staff.title}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="">Department</span> <small class="ms-3 fw-bolder">{{leave.staff.department}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="">Classification</span> <small class="ms-3 fw-bolder">{{leave.staff.classification}}</small> </div>
        </div>
    </div>
    <strong><P class="text-center text-muted mt-3 border-bottom mb-4">LEAVE DETAILS</P></strong>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col"><strong>TYPE</strong></th>
                        <th scope="col"><strong>STATUS</strong></th>
                        <th scope="col"><strong>REASON</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{leave.type_of_leave}}</td>
                        <td>{{leave.status}}</td>
                        <td>{{leave.leave_reason|slice:56}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <strong><P class="text-center text-muted mt-3 border-bottom mb-4">LEAVE DATES</P></strong>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col"><strong>NUMBER OF DAYS</strong></th>
                        <th scope="col"><strong>START DATE</strong></th>
                        <th scope="col"><strong>END DATE</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{leave.number_of_days}}</td>
                        <td>{{leave.start_date}}</td>
                        <td>{{leave.end_date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <strong><P class="text-center text-muted mt-3 border-bottom mb-4">LEAVE BALANCE</P></strong>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col"><strong>DAYS_TAKEN</strong></th>
                        <th scope="col"><strong>BALANCE</strong></th>
                        <th scope="col"><strong>TOTAL_ANNUAL_LEAVE_DAYS_TAKEN</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{leave.number_of_days}}</td>
                        <td>{{leave.staff.total_leave_balance}}</td>
                        <td>{{leave.staff.total_annual_leave_days_taken}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <strong><P class="text-center text-muted mt-3 border-bottom mb-4">APPROVAL</P></strong>
    <div class="row">
        <div class="col-md-3 text-center">
            <div> <span class="fw-bolder"><u>Applicant</u></span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span class="fw-bolder"><u>Supervisor</u></span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span class="fw-bolder"><u>HOD</u></span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span class="fw-bolder"><u>HR</u></span></div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3 text-center">
            <div> <span>.......................................</span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span>.......................................</span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span>.......................................</span></div>
        </div>
        <div class="col-md-3 text-center">
            <div> <span>.......................................</span></div>
        </div>
    </div>
    <br>
    {% if not leave.status == 'Approved' %}
        <div class="row container">
            <div class="col-md-12">
                <form method="post" class="d-flex" role="search">
                    {% csrf_token %}
                    <div class="form-row">
                        <input type="hidden" name="pv_id" value="{{pv.id}}">
                        <div class="form-group col-md-10">
                            <select name="status" class="form-select" aria-label="Default select example" required>
                                <option selected disabled>Change Status</option>
                                <option value="Approved">Approved</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                        <button class="btn btn-success" type="submit">Proceed</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}