body {
  padding-top: 63px;
  background: #b989ad;
  color: #333333;
  font-family: 'Poppins';
  align-items: center;
  justify-content: center;
  background-color: #c5cdcf !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #914790;;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color:#490549
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #e0bfdb;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 10px;
}


.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #ca42af;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 135px;
  width: 135px;
  margin-right: 25px;
  margin-bottom: 21px;
}

.account-heading {
  font-size: 2.5rem;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}


.menu-icon {
  display: none;
}



/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: visible;
  color: rgba(255, 255, 255, 0.95);
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px 0;
  overflow: hidden;
}

.main-cards1 {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px 0;
}

.main-cards2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px 0;
}

.main-cards3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  border-radius: 5px;
}

.fired {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

/* ------------------------- */
.fired:first-child {
  background-color: #f62460;
}

.fired:nth-child(2) {
  background-color: #a74706;
}

.fired:nth-child(3) {
  background-color: #d50000;
}

.fired:nth-child(4) {
  background-color: #2962ff;
}


.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .material-icons-outlined {
  font-size: 45px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

a {
    color: #fff;
    text-decoration: none;
}

.news marquee {
    font-size: 18px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}


form[id="login-form"] {
  margin:auto;
}

.login-form {
  padding: 30px 38px 55px;
  border: 5px dotted rgb(255, 255, 255) center;
  color: white;
  height: 450px;
  max-width: 80px;
  min-width: 45%;
  margin: auto;
  padding-bottom: 2em;
  background-color: #77176f;
}

a[type="payroll"]{
  color:#ffffff
}

.logout-btn:hover {
  display: inline;
}

.page-item.active .page-link {
  columns: #fff !important;
  background-color: #6c757d !important;
  border: 1px solid #6c757d !important;
}
.pagination > li > a {
  color: #111;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {
  color: #111 !important;
  background-color: #d3d3d3 !important;
  border: 1px solid #6c757d !important;
  box-shadow: none !important;
}
.dataTables_info {
  color: #333 !important;
  font-weight: bold !important;
  float: left !important;
  margin-top: -15px !important;
}
.dataTables_paginate {
  margin-top: -5px !important;
  float: right !important;
}
.dataTables_filter, .dataTables_length, btn-credit {
  float: right !important;
  margin-top: 1px !important;
  margin-right: 10px !important;
}
thead input {
  width: 100% !important;
  text-align: center !important;
}
td {
  text-align: center !important;
}