{% extends "staff/layout.html" %} 
{% block content %}
<div class="row mt">
    <div class="col-md-12">
      <h3 class="text-center text-dark fw-bold"><i class="fas fa-users fa-2x"></i>&nbsp;&nbsp;Yonna Microfinance Staffs</h3>
    </div>  
  </div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped table-dark table-bordered table-responsive-lg" id="staffs">
            <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">DOB</th>
              <th scope="col">POB</th>
              <th scope="col">Gender</th>
              <th scope="col">EMP Status</th>
              <th scope="col">CUG</th>
              <th scope="col">Mobile 1</th>
              <th scope="col">Date Hired</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for staff in staffs %}
            <tr>
                <td>{{staff.staff_id}}</td>
                {% if staff.employment_status == "Full Time" %}
                    <td class="text-success fw-bold">{{staff.employee_name}}</td>
                {% elif staff.employment_status == "Probation" %}
                    <td class="text-primary fw-bold">{{staff.employee_name}}</td>
                {% elif staff.employment_status == "On Suspension" %}
                    <td class="text-warning fw-bold">{{staff.employee_name}}</td>
                {% elif staff.employment_status == "Intern" %}
                    <td class="fw-bold" style="color: cyan;">{{staff.employee_name}}</td>
                {% elif staff.employment_status == "Resigned" %}
                    <td class="fw-bold" style="color:brown;">{{staff.employee_name}}</td>
                {% elif staff.employment_status == "On Leave" %}
                    <td class="fw-bold" style="color:deeppink;">{{staff.employee_name}}</td>
                {% elif staff.employment_status == "Fired" %}
                    <td class="text-danger fw-bold">{{staff.employee_name}}</td>
                {% else%}
                    <td>{{staff.employee_name}}</td>
                {% endif %}
                <td>{{staff.date_of_birth|date:"Y-m-d"}}</td>
                <td>{{staff.place_of_birth}}</td>
                <td>{{staff.gender}}</td>
                <td>{{staff.employment_status}}</td>
                <td>{{staff.cug_number}}</td>
                <td>{{staff.mobile_1}}</td>
                <td>{{staff.hired_date|date:"Y-m-d"}}</td>
                <td>
                    <a class="btn btn-sm btn-success mt-2 mb-2" href="{% url 'staff_profile' staff.id %}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock content %}