{% extends "staff/layout.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="watermark-container" style="position:relative;">
<img src="{% static 'staff/images/fevicon.png' %}" style="position:absolute; top:0; left: 15%; opacity:0.1; width:65%;">
<div class="container mt-1 mb-5" style="background-color: white;">
    <br>
    <div class="row">
        <div class="col-md-4">
            <img src="{{payslip.employee.image.url}}" width='110' height='110' class="rounded-circl">
        </div>
        <div class="col-md-4">
            <h4 class="fw-bold text-center">PAYSLIP</h4>
            <h6 class="fw-bold text-center">{{payslip.date|date:"F d, Y"}}</h6>
        </div>
        <div class="col-md-4 d-md-flex justify-content-md-end">
            <img src="{% static 'staff/images/fevicon.png' %}" width='105' height='105' class="rounded-circle">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div> <span class="fw-bolder">ID</span> <small class="ms-3">{{staff.staff_id}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="fw-bolder">Fullname</span> <small class="ms-3">{{staff.employee_name}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="fw-bolder">Phone</span> <small class="ms-3">{{staff.mobile_1}}</small> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div> <span class="fw-bolder">Title</span> <small class="ms-3">{{staff.title}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="fw-bolder">Department</span> <small class="ms-3">{{staff.department}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="fw-bolder">Classification</span> <small class="ms-3">{{staff.classification}}</small> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div> <span class="fw-bolder">Employment Status</span> <small class="ms-3">{{staff.employment_status}}</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="fw-bolder">Mode of Pay</span> <small class="ms-3">Monthly</small> </div>
        </div>
        <div class="col-md-4">
            <div> <span class="fw-bolder">Number of Declared Working Days</span> <small class="ms-3">26 Days</small> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="mt-3 table table-bordered table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Earnings</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Deductions</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Basic Salary</th>
                        <td>D{{payslip.basic_salary|floatformat:2|intcomma}}</td>
                        <th scope="row">{{payslip.deduction_type}}</th>
                        <td>D{{payslip.deduction|floatformat:2|intcomma}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Medical Allowance</th>
                        <td>D{{payslip.medical_allowance|floatformat:2|intcomma}}</td>
                        <th scope="row">Staff Financing</th>
                        <td>D{{payslip.staff_fin|floatformat:2|intcomma}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Transport Allowance</th>
                        <td>D{{payslip.transport_allowance|floatformat:2|intcomma}}</td>
                        <th scope="row">SSHFC</th>
                        <td>D{{payslip.individual_sshfc|floatformat:2|intcomma}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Responsibility Allowance</th>
                        <td>D{{payslip.responsibility_allowance|floatformat:2|intcomma}}</td>
                        <th scope="row">ICF</th>
                        <td>D{{payslip.icf|floatformat:2|intcomma}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Housing Allowance</th>
                        <td>D{{payslip.housing_allowance|floatformat:2|intcomma}}</td>
                        <th scope="row">Income Tax</th>
                        <td>D{{payslip.income_tax|floatformat:2|intcomma}}</td>
                    </tr>
                    <tr class="border-top">
                        <th class="bg-dark" colspan="4" scope="row"></th>
                    </tr>
                    <tr class="border-top">
                        <th scope="row">Gross Pay</th>
                        <td>D{{payslip.gross_pay|floatformat:2|intcomma}}</td>
                        <th scope="row">Total Deductions</th>
                        <td>D{{total_deduction|floatformat:2|intcomma}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="border col-md-4">
            <div class="d-flex flex-column text-center"><span><b>NET PAY IN FIGURES</b></span><span><em>D{{payslip.net_pay|floatformat:2|intcomma}}</em></span></div>
        </div>
        <div class="border col-md-8">
            <div class="d-flex flex-column text-center"><span><b>NET PAY IN WORDS</b></span><span><em>{{net_pay_in_words}}</em></span></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 text-center">
            <div> <span class="fw-bolder"><u>Employee</u></span></div>
        </div>
        <div class="col-md-4 text-center">
            <div> <span class="fw-bolder"><u>Human Resource Manager</u></span></div>
        </div>
        <div class="col-md-4 text-center">
            <div> <span class="fw-bolder"><u>Managing Director</u></span></div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 text-center">
            <div> <span>.......................................................................</span></div>
        </div>
        <div class="col-md-4 text-center">
            <div> <span>.......................................................................</span></div>
        </div>
        <div class="col-md-4 text-center">
            <div> <span>.......................................................................</span></div>
        </div>
    </div>
    <br>
</div>
</div>
{% endblock content %}