{% extends "staff/layout.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<!-- <small><a class="btn btn-primary btn-lg" href="{% url 'download_payslip' payslip.id %}" data-toggle="tooltip" data-placement="top">Download Payslip</a></small> -->
<div class="watermark-container" style="position:relative;">
<img src="{% static 'staff/images/fevicon.png' %}" style="position:absolute; top:0; left: 15%; opacity:0.1; width:70%;">
<div class="container mt-1 mb-5" style="background-color: white;">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'staff/images/fevicon.png' %}" width='105' height='105' class="rounded-circle">
            <div class="text-center lh-1 mb-2">
                <h6 class="fw-bold">Payslip</h6> <span class="fw-normal">Payment slip for the month of {{payslip.date|date:"F d, Y"}}</span>
            </div>
            <div class="d-flex justify-content-end"> <span class="fw-bolder">Department: </span>&nbsp;{{staff.department}}</div>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Staff ID</span> <small class="ms-3">{{staff.staff_id}}</small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">EMP Name</span> <small class="ms-3">{{staff.employee_name}}</small> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Phone</span> <small class="ms-3">{{staff.mobile_1}}</small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">NOD</span> <small class="ms-3">26</small> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">NIC</span> <small class="ms-3">{{staff.national_id}}</small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Mode of Pay</span> <small class="ms-3">Monthly</small> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Title</span> <small class="ms-3">{{staff.title}}</small> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <span class="fw-bolder">Employment Status</span> <small class="ms-3">{{staff.employment_status}}</small> </div>
                        </div>

                    </div>
                </div>
                <table class="mt-3 table table-bordered table-striped">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">Earnings</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Deductions</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Basic Salary</th>
                            <td>D{{payslip.basic_salary|floatformat:2|intcomma}}</td>
                            <th scope="row">{{payslip.deduction_type}}</th>
                            <td>D{{payslip.deduction|floatformat:2|intcomma}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Medical Allowance</th>
                            <td>D{{payslip.medical_allowance|floatformat:2|intcomma}}</td>
                            <th scope="row">Staff Financing</th>
                            <td>D{{payslip.staff_fin|floatformat:2|intcomma}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Transport Allowance</th>
                            <td>D{{payslip.transport_allowance|floatformat:2|intcomma}}</td>
                            <th scope="row">SSHFC</th>
                            <td>D{{payslip.individual_sshfc|floatformat:2|intcomma}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Responsibility Allowance</th>
                            <td>D{{payslip.responsibility_allowance|floatformat:2|intcomma}}</td>
                            <th scope="row">ICF</th>
                            <td>D{{payslip.icf|floatformat:2|intcomma}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Housing Allowance</th>
                            <td>D{{payslip.housing_allowance|floatformat:2|intcomma}}</td>
                            <th scope="row">Income Tax</th>
                            <td>D{{payslip.income_tax|floatformat:2|intcomma}}</td>
                        </tr>
                        <tr class="border-top">
                            <th class="bg-dark" colspan="4" scope="row"></th>
                        </tr>
                        <tr class="border-top">
                            <th scope="row">Gross Pay</th>
                            <td>D{{payslip.gross_pay|floatformat:2|intcomma}}</td>
                            <th scope="row">Total Deductions</th>
                            <td>D{{total_deduction|floatformat:2|intcomma}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-4"> <br> <span class="fw-bold bg-dark" style="color: rgb(255, 255, 255); font-size: 30px;">NET PAY : D{{payslip.net_pay|floatformat:2|intcomma}}</span> </div>
                <div class="border col-md-8">
                    <div class="d-flex flex-column"> <span><b>Net Pay In Words</b></span> <span>{{net_pay_in_words}}</span> </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="d-flex flex-column mt-2"> <span class="fw-bolder">For Yonna Islamic Microfinance</span> <span class="mt-4">Authorised Signatory</span> </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}